.overlay {
  position: fixed; // ← Важно: fixed вместо absolute!
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.modal {
  background: white;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  position: relative;
  padding: 2rem;
  text-align: center;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @apply flex flex-col gap-4;

  > button {
    @apply bg-red-700 bg-opacity-75 rounded-md p-2;
  }

  > h2 {
    @apply text-3xl font-bold;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
